<section class="m-4 bg-yellow-200 p-2 ring-8 ring-yellow-400">
        <div
          class="flex justify-between bg-yellow-400 ring-8 ring-yellow-400 mb-4"
        >
          <h2>Why is MVC important</h2>
          <p>posted by samira on 5/8/21</p>
        </div>

        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            ratione nobis quis nihil voluptatum reprehenderit in enim, facilis
            quam, dolor repellat debitis reiciendis omnis, nesciunt eius?
            Adipisci nobis cumque cum!
          </p>
        </div>
      </section>