<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Tech-blog</title>
  </head>
  <body class="bg-yellow-100">
    <header
      class="bg-yellow-500 flex justify-between items-center text-yellow-900 font-serif"
    >
      <h1 class="text-3xl md:text-5xl lg:text-7xl m-2 p-1">Tech-Blog</h1>
      <nav class="flex m-4">
        <ul class="flex m-1 p-1">
          <li class="text-2xl md:text-4xl m-2"><a>Home</a></li>
          <li class="text-2xl md:text-4xl m-2"><a>Dashboard</a></li>
        </ul>
        <button
          class="bg-yellow-200 rounded-lg text-1xl md:text-3xl p-1 m-2 hover:bg-yellow-700 hover:text-white"
        >
          <a>Login/SignUp</a>
        </button>
      </nav>
    </header>
  </body>
</html>